src/__pycache__/
.history/
src/models/__pycache__/
results/cm_CNN_Apple.png
results/cm_CNN_Corn.png
results/cm_CNN_Grape.png
results/cm_CNN_Peach.png
results/cm_CNN_Pepper.png
results/cm_CNN_Potato.png
results/cm_CNN_Strawberry.png
results/cm_CNN_Tomato.png
results/cm_KNN_Apple.png
results/cm_KNN_Corn.png
results/cm_KNN_Grape.png
results/cm_KNN_Peach.png
results/cm_KNN_Pepper.png
results/cm_KNN_Potato.png
results/cm_KNN_Strawberry.png
results/cm_KNN_Tomato.png
results/cm_LR_Apple.png
results/cm_LR_Corn.png
results/cm_LR_Grape.png
results/cm_LR_Peach.png
results/cm_LR_Pepper.png
results/cm_LR_Potato.png
results/cm_LR_Strawberry.png
results/cm_LR_Tomato.png
results/cm_RF_Apple.png
results/cm_RF_Corn.png
results/cm_RF_Grape.png
results/cm_RF_Peach.png
results/cm_RF_Pepper.png
results/cm_RF_Potato.png
results/cm_RF_Strawberry.png
results/cm_RF_Tomato.png
results/cm_SVM_Apple.png
results/cm_SVM_Corn.png
results/cm_SVM_Grape.png
results/cm_SVM_Peach.png
results/cm_SVM_Pepper.png
results/cm_SVM_Potato.png
results/cm_SVM_Strawberry.png
results/cm_SVM_Tomato.png
